{% extends "base.html" %}

{% block title %}Agnimithra 2k16|CSE{% endblock %}

{% block body_attribs %} style="background-color: #120f0f;"{% endblock body_attribs%}

{% block navbar_right %}
  <li><a href="#workshops">Workshops</a></li>
  <li><a href="#presentation">Presentation</a></li>
  <li><a href="#techeve">Tech Eve</a></li>
  <li><a href="#funbox">Fun Box</a></li>
  <li><a href="#register">Register</a></li>
{%endblock %}

{% block content %}
<div class="container-fluid bg-yellow" id="home">
  <center>
    <img class="marginTop70 img-responsive" src="/static/img/agni.png"style="align: center;" height="200px" width="200px"/>
    <h1 class="text-black" style="font-size:70px;">Agnimithra 2k16</h1>
    <h1 class="text-black">"Technology is best when it brings people together"</h1>
    <h2 class="text-black">Department of Computer Science and Engineering</h2>
    <a href="#workshops"><i class="fa fa-angle-double-down fa-5x text-black" style="font-size:90px;margin-top:65px;"></i></a>
  </center>
</div>
<div id="workshops" style="margin-top: -50px; margin-bottom:70px;"></div>
<div class="container marginTop50 marginBottom50">
  <center>
    <h1 class="text-yellow" style="font-size: 50px;">Workshops</h1></br></br>
    <img class="img-responsive size-200" src="/static/img/workshop.svg"/>
  </center>
  <div class="col-md-6">
    </br><center>
      <h1 class="text-yellow">Workshop#1</h1></br>
      <img class="img-responsive size-150" src="/static/img/arduino.svg"/><br/>
      <p class="text-yellow" style="margin-top: 8px;font-size: 22px;">Arduino is an open-source prototyping platform based on easy-to-use hardware and software.</p>
    </center>
  </div>
  <div class="col-md-6">
    </br><center>
      <h1 class="text-yellow">Workshop#2</h1></br></br>
      <img class="img-responsive size-300" src="/static/img/python.svg"/><br/>
      <p class="text-yellow" style="font-size: 22px;">Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.</p>
    </center>
  </div>
</div>
<div id="presentation" style="margin-top: -50px; margin-bottom:70px;"></div>
<div class="container-fluid bg-yellow">
  <center>
    <h1 class="text-black marginTop50" style="font-size: 50px;">Presentation</h1></br></br>
    <img class="img-responsive size-200" src="/static/img/presentation.svg"/>
  </center>
  <div class="col-md-6">
    <center>
      <p class="text-black" style="font-size: 24px;">Network Security</p>
      <p class="text-black" style="font-size: 24px;">Machine Learning</p>
      <p class="text-black" style="font-size: 24px;">Virtual Reality</p>
      <p class="text-black" style="font-size: 24px;">Ontology(Information Science)</p>
    </center>
  </div>
  <div class="col-md-6">
    <center>
      <p class="text-black" style="font-size: 24px;">Mesh Network</p>
      <p class="text-black" style="font-size: 24px;">Cloud Computing</p>
      <p class="text-black" style="font-size: 24px;">Big Data</p>
      <p class="text-black" style="font-size: 24px;">Distributed Hash Table</p>
    </center>
  </div>
  <i><p class="text-black" style="font-size: 22px;" align="middle">*Innovative ideas on computing are also invited</p></i>
  <div class="marginBottom50"></div>
</div>
<div id="techeve" style="margin-top: -50px; margin-bottom:70px;"></div>
<div class="container marginTop50">
  <center>
    <h1 class="text-yellow" style="font-size: 50px;">Tech Eve</h1></br></br>
    <img class="img-responsive size-200" src="/static/img/techeve.svg"/></br>
  <div>
    <center>
      <div class="col-md-3">
        <img class="img-responsive size-70" src="/static/img/codecrush.svg"/>
        <p class="text-yellow" style="font-size: 24px;">Code Crush</p>
      </div>
      <div class="col-md-3">
        <img class="img-responsive size-70" src="/static/img/whoisgeek.svg"/>
        <p class="text-yellow" style="font-size: 24px;">Who is Geek?</p>
      </div>
      <div class="col-md-3">
        <img class="img-responsive size-70" src="/static/img/quizitto.svg"/>
        <p class="text-yellow" style="font-size: 24px;">Quizitto</p>
      </div>
      <div class="col-md-3">
        <img class="img-responsive size-70" src="/static/img/crazyengineer.svg"/>
        <p class="text-yellow" style="font-size: 24px;">Crazy Engineer</p>
      </div>
      </center>
  </div>
  <div>
    <div class="col-md-12" align="middle">
      <img class="img-responsive size-70" src="/static/img/appmania.svg"/>
      <p class="text-yellow" style="font-size: 24px;" align="middle">Appmania</p>
    </div>
  </div>
  <div class="marginBottom50"></div>
</div>
<div id="funbox" style="margin-top: -50px; margin-bottom:70px;"></div>
<div class="container-fluid marginTop50 bg-yellow">
  <center>
    <h1 class="text-black marginTop50" style="font-size: 50px;">Fun Box</h1></br>
    <img class="img-responsive size-150" src="/static/img/funbox.svg"/>
  </center>
  <div class="col-md-3"></div>
  <div class="col-md-3" align="middle">
    <img class="img-responsive size-70" src="/static/img/twiddlethumbs.svg"/>
    <p class="text-black" style="font-size: 24px;">Twiddle Thumbs</p>
  </div>
  <div class="col-md-3" align="middle">
    <img class="img-responsive size-70" src="/static/img/joyboom.svg"/>
    <p class="text-black" style="font-size: 24px;">Joy Boom</p>
  </div>
  <div class="col-md-3"></div>
  <div class="marginBottom50"></div>
</div>
{% endblock %}
