{% extends "base.html" %}

{% block title %}Agnimithra 2k16|CSE{% endblock %}

{% block navbar_right %}
  <li><a href="#workshops">Workshops</a></li>
  <li><a href="#presentation">Presentation</a></li>
  <li><a href="#events">Events</a></li>
  <li><a href="#register">Register</a></li>
{%endblock %}

{% block content %}
<div class="container-fluid shadow-box" style="background-color:#03A9F4;" id="home">
  <center>
    <img class="marginTop70 img-responsive" src="/static/img/agni.png"style="align: center;" height="200px" width="200px"/>
    <h1 style="color:#FFFFFF;font-size:70px;">Agnimithra 2k16</h1>
    <h1 style="color:#FFFFFF;">"Technology is best when it brings people together"</h1>
    <h2 style="color:#FFFFFF;">Department of Computer Science and Engineering</h2>
    <i class="fa fa-angle-double-down fa-5x" style="color:#ffffff; font-size:90px;margin-top:45px;"></i>
  </center>
</div>
<div class="container marginTop50 marginBottom50" id="workshops">
  <div class="col-md-4">
    <center><img class="img-responsive size-300" src="/static/img/workshop.png"/></center>
  </div>
  <div class="col-md-4">
    <center><h1 class="text-blue">Workshop #1</h1></center>
  </div>
  <div class="col-md-4">
    <cenetr><h1 class="text-blue">Workshop #2</h1></center>
  </div>
</div>
{% endblock %}


