{% extends "base.html" %}

{% block title %}Agnimithra 2k16|CSE-Megaevents{% endblock %}

{% block body_attribs %} style="background-color: #f1f2f6;"{% endblock body_attribs%}

{% block navbar_right %}
  <li><a href="#aurduino">AURDUINO</a></li>
  <li><a href="#nodejs">NODE JS</a></li>
  <li><a href="#presentation">PRESENTATION</a></li>
  <li><a href="#register">REGISTER</a></li>
{%endblock %}

{% block content %}
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
{% endblock content %}
