{% extends "base.html" %}

{% block title %}Agnimithra 2k16|CSE-TechEve{% endblock %}

{% block body_attribs %} style="background-color: #f1f2f6;"{% endblock body_attribs%}

{% block navbar_right %}
  <li><a href="#codecrush" style="font-size: 14px;">CODE CRUSH</a></li>
  <li><a href="#whoisgeek" style="font-size: 14px;">WHO IS GEEK?</a></li>
  <li><a href="#quizitto" style="font-size: 14px;">QUIZITTO</a></li>
  <li><a href="#appmania" style="font-size: 14px;">APPMANIA</a></li>
  <li><a href="#crazyengineer" style="font-size: 14px;">CRAZY ENGINEER</a></li>
  <li><a href="#register" style="font-size: 14px;">REGISTER</a></li>
{%endblock %}

{% block content %}
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
{% endblock content %}
