.navbar-yellow {
  background-color: #ffd200;
  border-color: #000000;
}
.navbar-yellow .navbar-brand {
  color: #000000;
}
.navbar-yellow .navbar-brand:hover,
.navbar-yellow .navbar-brand:focus {
  color: #000;
}
.navbar-yellow .navbar-text {
  color: #000000;
}
.navbar-yellow .navbar-nav > li > a {
  color: #000000;
}
.navbar-yellow .navbar-nav > li > a:hover,
.navbar-yellow .navbar-nav > li > a:focus {
  color: #ffd200;
  background-color: #000;
}
.navbar-yellow .navbar-nav > li > .dropdown-menu {
  background-color: #ffd200;
}
.navbar-yellow .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-yellow .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-yellow .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffd200;
  background-color: #000000;
}
.navbar-yellow .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000;
}
.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a,
.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffd200;
  background-color: #000000;
}
.navbar-yellow .navbar-nav > .active > a,
.navbar-yellow .navbar-nav > .active > a:hover,
.navbar-yellow .navbar-nav > .active > a:focus {
  color: #ffd200;
  background-color: #000000;
}
.navbar-yellow .navbar-nav > .open > a,
.navbar-yellow .navbar-nav > .open > a:hover,
.navbar-yellow .navbar-nav > .open > a:focus {
  color: #ffd200;
  background-color: #000000;
}
.navbar-yellow .navbar-toggle {
  border-color: #ffd200;
}
.navbar-yellow .navbar-toggle:hover,
.navbar-yellow .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-yellow .navbar-toggle .icon-bar {
  color: #ffd200;
  background-color: #000000;
}
.navbar-yellow .navbar-collapse,
.navbar-yellow .navbar-form {
  border-color: #ffd200;
}
.navbar-yellow .navbar-link {
  color: #000000;
}
.navbar-yellow .navbar-link:hover {
  color: #ffd200;
}

@media (max-width: 767px) {
  .navbar-yellow .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-yellow .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-yellow .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffd200;
  }
  .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffd200;
    background-color: #000000;
  }
}

.marginTop70{
  margin-top: 70px;
  }

.navbar-yellow .navbar-nav > li:hover,
.navbar-yellow .navbar-nav > li:focus {
  color: #000000;
  background-color: #0288D1;
}

.logo:hover,
.logo:visited,
.logo:active,
.logo:link {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}

.text-yellow {
  color: #ffd200;
}

.text-black {
  color: #000000;
}

.position-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.marginTop50{
  margin-top: 50px;
}

.marginBottom50{
  margin-bottom: 50px;
}

.size-300 {
  width: 300px;
  height: 300px;
}

.size-200 {
  width: 200px;
  height: 200px;
}
.size-150 {
  width: 150px;
  height: 150px;
}
.size-70 {
  width: 70px;
  height: 70px;
}
.bg-yellow {
  background-color: #ffd200;
}

.nav-bar {
  color: #000000;
  font-size: 20px;
}

.nav-bar:hover {
  color: #ffd200;
  font-size: 20px;
}

.link1:hover,
.link1:active,
.link1:link,
.link1:visited {
  color :#ffd200;
  font-size: 25px;
  text-decoration: none;
}

