.navbar-orange {
  background-color: #03A9F4;
  border-color: #03A9F4;
}
.navbar-orange .navbar-brand {
  color: #ffffff;
}
.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:focus {
  color: #ffffff;
}
.navbar-orange .navbar-text {
  color: #ffffff;
}
.navbar-orange .navbar-nav > li > a {
  color: #ffffff;
  font-size: 17px;
}
.navbar-orange .navbar-nav > li > a:hover,
.navbar-orange .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #0288D1;
}
.navbar-orange .navbar-nav > li > .dropdown-menu {
  background-color: #03A9F4;
}
.navbar-orange .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-orange .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-orange .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #0288D1;
}
.navbar-orange .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #0288D1;
}
.navbar-orange .navbar-nav .open .dropdown-menu > .active > a,
.navbar-orange .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-orange .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #0288D1;
}
.navbar-orange .navbar-nav > .active > a,
.navbar-orange .navbar-nav > .active > a:hover,
.navbar-orange .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0288D1;
}
.navbar-orange .navbar-nav > .open > a,
.navbar-orange .navbar-nav > .open > a:hover,
.navbar-orange .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0288D1;
}
.navbar-orange .navbar-toggle {
  border-color: #0288D1;
}
.navbar-orange .navbar-toggle:hover,
.navbar-orange .navbar-toggle:focus {
  background-color: #0288D1;
}
.navbar-orange .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-orange .navbar-collapse,
.navbar-orange .navbar-form {
  border-color: #ffffff;
}
.navbar-orange .navbar-link {
  color: #ffffff;
}
.navbar-orange .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-orange .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-orange .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-orange .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-orange .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0288D1;
  }
}

.marginTop70{
  margin-top: 70px;
  }

.navbar-orange .navbar-nav > li:hover,
.navbar-orange .navbar-nav > li:focus {
  color: #ffffff;
  background-color: #0288D1;
}

.logo:hover,
.logo:visited,
.logo:active,
.logo:link {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}

.shadow-box {
  box-shadow: 0px 5px 5px grey;
}

.text-blue {
  color: #03A9F4;
}

.position-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
