.navbar-yellow {
  background-color: #2196f3;
  border-color: #414141;
  min-height: 60px;
}
.navbar-yellow .navbar-brand {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-yellow .navbar-brand:hover,
.navbar-yellow .navbar-brand:focus {
  color: #ffffff;
}
.navbar-yellow .navbar-text {
  color: #ffffff;
}
.navbar-yellow .navbar-nav > li > a {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-yellow .navbar-nav > li > a:hover,
.navbar-yellow .navbar-nav > li > a:focus {
  color: #2196f3;
  background-color: #414141;
}
.navbar-yellow .navbar-nav > li > .dropdown-menu {
  background-color: #2196f3;
}
.navbar-yellow .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-yellow .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-yellow .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #2196f3;
  background-color: #414141;
}
.navbar-yellow .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #414141;
}
.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a,
.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #2196f3;
  background-color: #414141;
}
.navbar-yellow .navbar-nav > .active > a,
.navbar-yellow .navbar-nav > .active > a:hover,
.navbar-yellow .navbar-nav > .active > a:focus {
  color: #2196f3;
  background-color: #414141;
}
.navbar-yellow .navbar-nav > .open > a,
.navbar-yellow .navbar-nav > .open > a:hover,
.navbar-yellow .navbar-nav > .open > a:focus {
  color: #2196f3;
  background-color: #414141;
}
.navbar-yellow .navbar-toggle {
  border-color: #2196f3;
}
.navbar-yellow .navbar-toggle:hover,
.navbar-yellow .navbar-toggle:focus {
  background-color: #414141;
}
.navbar-yellow .navbar-toggle .icon-bar {
  color: #2196f3;
  background-color: #414141;
}
.navbar-yellow .navbar-collapse,
.navbar-yellow .navbar-form {
  border-color: #2196f3;
}
.navbar-yellow .navbar-link {
  color: #414141;
}
.navbar-yellow .navbar-link:hover {
  color: #2196f3;
}

@media (max-width: 767px) {
  .navbar-yellow .navbar-nav .open .dropdown-menu > li > a {
    color: #414141;
  }
  .navbar-yellow .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-yellow .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2196f3;
  }
  .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2196f3;
    background-color: #414141;
  }
}

.marginTop70{
  margin-top: 70px;
  }

.navbar-yellow .navbar-nav > li:hover,
.navbar-yellow .navbar-nav > li:focus {
  color: #2196f3;
  background-color: #414141;
}

.logo:hover,
.logo:visited,
.logo:active,
.logo:link {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}

.text-yellow {
  color: #2196f3;
}

.text-pink {
  color: #2196f3;
}

.text-black {
  color: #414141;
}

.text-white {
  color: #FFFFFF;
}

.position-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.marginTop50{
  margin-top: 50px;
}

.marginBottom50{
  margin-bottom: 50px;
}

.size-300 {
  width: 300px;
  height: 300px;
}

.size-200 {
  width: 200px;
  height: 200px;
}
.size-150 {
  width: 150px;
  height: 150px;
}
.size-70 {
  width: 70px;
  height: 70px;
}
.bg-yellow {
  background-color: #ffd200;
}
.bg-white {
  background-color: #ffffff;
}

.nav-bar {
  color: #414141;
  font-size: 20px;
}

.nav-bar:hover {
  color: #2196f3;
  font-size: 20px;
}

.link1:hover,
.link1:active,
.link1:link,
.link1:visited {
  color :#414141;
  font-size: 25px;
  text-decoration: none;
}

.box-shadow {
  box-shadow: 0px 5px 5px #414141;
}

.btn-blue {
  background-color: #2196f3;
  color: #ffffff;
  border-color: #2196f3;
  }

.btn-blue:hover {
  background-color: #ffffff;
  color: #2196f3;
  border-color: #2196f3;
  }


